flask_services/node_flow.txt
[{"id":"b665d918.543be","type":"ui_dropdown","z":"754ae687.5f12c8","name":"datasets_dropdown","label":"Available Datasets","place":"Select Dataset","group":"253748cc.afc948","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1010.0222320556641,"y":252.3444366455078,"wires":[["aff30be.aa21978","bbecce75.2a3a3"]]},{"id":"8b0de6ef.7b355","type":"http request","z":"754ae687.5f12c8","name":"get_datasets","method":"GET","ret":"obj","url":"http://localhost:6001/datasets/get_available","tls":"","x":450.0221710205078,"y":253.92776489257812,"wires":[["f57a5d2e.a3f938","f8fc2540.891d8"]]},{"id":"f57a5d2e.a3f938","type":"debug","z":"754ae687.5f12c8","name":"datasets_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":463.80006408691406,"y":298.59999084472656,"wires":[]},{"id":"6ca841b4.da1d98","type":"inject","z":"754ae687.5f12c8","name":"update_available_datasets","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":182.02224731445312,"y":253.8277587890625,"wires":[["8b0de6ef.7b355","78c1b018.2d382"]]},{"id":"f8fc2540.891d8","type":"function","z":"754ae687.5f12c8","name":"get_available_dataset_names","func":"//msg[\"available_datasets\"] = [{\"dataset 1\":\"dataset 1\"},{\"dataset 2\":\"dataset 2\"}];\n\nvar available_list = [{\"Select Dataset\":\"\"}];\n\nfor(var dataset_i = 0; dataset_i < msg.payload.datasets.length; ++dataset_i ){\n    var dataset = msg.payload.datasets[dataset_i];\n    var dataset_name = dataset[\"dataset_name\"];\n    // var folder = dataset[\"folder\"];\n\n    var dataset_value_dict = {};\n    dataset_value_dict[dataset_name] = dataset_name;\n    \n    available_list.push(dataset_value_dict);\n}\n\nmsg[\"available_dataset_names\"] = available_list;\nmsg[\"options\"] = msg[\"available_dataset_names\"];\n\nvar context = this.context.global;\ncontext.set('datasets',msg.payload.datasets);\ncontext.set('available_dataset_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":743.0222320556641,"y":252.99440002441406,"wires":[["b665d918.543be","3a98f81d.8344d"]]},{"id":"aff30be.aa21978","type":"debug","z":"754ae687.5f12c8","name":"dataset_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":987.0555572509766,"y":313.11109924316406,"wires":[]},{"id":"55eb8634.7680e8","type":"ui_dropdown","z":"754ae687.5f12c8","name":"models_dropdown","label":"Available Models","place":"Select Model","group":"1d4a4772.ba60c9","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":982.5555877685547,"y":568.1110992431641,"wires":[["c906b3d1.cdb8b","c5cd3071.1d7128"]]},{"id":"a1850d09.1cb448","type":"http request","z":"754ae687.5f12c8","name":"get_models","method":"GET","ret":"obj","url":"http://localhost:6101/models/get_available_for_dataset/{{{selected_dataset}}}","tls":"","x":442.55552673339844,"y":569.6944274902344,"wires":[["735ddf53.bdfb98","e8498259.8f4408"]]},{"id":"735ddf53.bdfb98","type":"debug","z":"754ae687.5f12c8","name":"models_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":418.55555725097656,"y":622.1444396972656,"wires":[]},{"id":"e8498259.8f4408","type":"function","z":"754ae687.5f12c8","name":"get_available_model_names","func":"var available_list = [];\n\nfor(var i = 0; i < msg.payload.models.length; ++i ){\n    var model = msg.payload.models[i];\n    var model_name = model[\"model_name\"];\n    // var script_name = model[\"script_name\"];\n    // var class_name = model[\"class_name\"];\n    \n    var model_value_dict = {};\n    model_value_dict[model_name] = model_name;\n    \n    available_list.push(model_value_dict);\n}\n\n\nmsg[\"available_models\"] = available_list;\nmsg[\"options\"] = msg[\"available_models\"];\n\nvar context = this.context.global;\ncontext.set('models',msg.payload.models);\ncontext.set('available_model_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":715.5555877685547,"y":568.7610626220703,"wires":[["55eb8634.7680e8"]]},{"id":"c906b3d1.cdb8b","type":"debug","z":"754ae687.5f12c8","name":"model_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":959.5889129638672,"y":628.8777618408203,"wires":[]},{"id":"bbecce75.2a3a3","type":"function","z":"754ae687.5f12c8","name":"set_dataset_selected_property","func":"msg[\"selected_dataset\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_dataset',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":361.63893127441406,"y":434.5277557373047,"wires":[["a1850d09.1cb448","1184f396.adf654"]]},{"id":"3a98f81d.8344d","type":"debug","z":"754ae687.5f12c8","name":"available_datasets","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":729.4444732666016,"y":296.9444122314453,"wires":[]},{"id":"6c337da4.0e1e4c","type":"ui_dropdown","z":"754ae687.5f12c8","name":"explanations_dropdown","label":"Available Explanations","place":"Select Explanations","group":"8d4f0d04.26fd88","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1053.6944732666016,"y":901.1110992431641,"wires":[["587f4b2d.caf494","469a0b65.e955ac"]]},{"id":"9a8a3cd6.82678","type":"http request","z":"754ae687.5f12c8","name":"get_explanations","method":"GET","ret":"obj","url":"http://localhost:6201/explanations/get_available_for_filters/{{{selected_dataset}}},{{{selected_model}}}","tls":"","x":445.91661071777344,"y":903.8055114746094,"wires":[["db094d5b.b1024","87833bfc.a72e"]]},{"id":"db094d5b.b1024","type":"debug","z":"754ae687.5f12c8","name":"explanations_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":421.91664123535156,"y":956.2555236816406,"wires":[]},{"id":"87833bfc.a72e","type":"function","z":"754ae687.5f12c8","name":"get_available_explanation_names","func":"var available_list = [];\n\nfor(var i = 0; i < msg.payload.explanations.length; ++i ){\n    var explanation = msg.payload.explanations[i];\n    var explanation_name = explanation[\"explanation_name\"];\n     \n    var value_dict = {};\n    value_dict[explanation_name] = explanation_name;\n    \n    available_list.push(value_dict);\n}\n\n\nmsg[\"available_explanations\"] = available_list;\nmsg[\"options\"] = msg[\"available_explanations\"];\n\n\nvar context = this.context.global;\ncontext.set('explanations',msg.payload.explanations);\ncontext.set('available_explanation_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":718.9166717529297,"y":902.8721466064453,"wires":[["6c337da4.0e1e4c"]]},{"id":"587f4b2d.caf494","type":"debug","z":"754ae687.5f12c8","name":"explanation_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030.727798461914,"y":961.8777618408203,"wires":[]},{"id":"c5cd3071.1d7128","type":"function","z":"754ae687.5f12c8","name":"set_model_selected_property","func":"msg[\"selected_model\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_model',msg.payload);\n\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\n\nreturn msg;","outputs":1,"noerr":0,"x":345.00001525878906,"y":768.6388397216797,"wires":[["9a8a3cd6.82678","afa1eaa2.738bd8","37b72bfd.d32574"]]},{"id":"afa1eaa2.738bd8","type":"debug","z":"754ae687.5f12c8","name":"msg_before_explanations","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":398.3333350287544,"y":824.7222103542751,"wires":[]},{"id":"469a0b65.e955ac","type":"function","z":"754ae687.5f12c8","name":"set_explanation_selected_property","func":"msg[\"selected_explanation\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_explanation',msg.payload);\n\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\nmsg[\"selected_model\"] = context.get('selected_model');\n\n\nreturn msg;","outputs":1,"noerr":0,"x":356.6667022705078,"y":1102.222183227539,"wires":[["482876a1.372ec"]]},{"id":"aacb4155.cd7fe8","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_name_display","label":"Dataset Name:","format":"{{msg.dataset_json[\"dataset_name\"]}}","layout":"row-spread","x":1653.5715942382812,"y":351.4286193847656,"wires":[]},{"id":"1184f396.adf654","type":"function","z":"754ae687.5f12c8","name":"output_dataset_json","func":"var context = this.context.global;\nvar dataset_name = context.get('selected_dataset');\n\nvar datasets = context.get('datasets');\n\nvar dataset_json = datasets.filter(dataset => dataset[\"dataset_name\"] == dataset_name)[0];\nmsg[\"dataset_json\"] = dataset_json;\ncontext.set('selected_dataset_json',dataset_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":1076.4285888671875,"y":424.2857666015625,"wires":[["aacb4155.cd7fe8","e8c69b0c.c5ca98","4e0e0ec5.cc59a8","b4ff4812.c32908","9a437899.46c6d8"]]},{"id":"e8c69b0c.c5ca98","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_image_x_display","label":"Image X:","format":"{{msg.dataset_json[\"image_x\"]}}","layout":"row-spread","x":1662.8571166992188,"y":411.4285888671875,"wires":[]},{"id":"4e0e0ec5.cc59a8","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_image_y_display","label":"Image Y:","format":"{{msg.dataset_json[\"image_y\"]}}","layout":"row-spread","x":1660.0000610351562,"y":458.5715026855469,"wires":[]},{"id":"78c1b018.2d382","type":"function","z":"754ae687.5f12c8","name":"reset_value","func":"msg[\"payload\"] = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1496.4287109375,"y":181.4285888671875,"wires":[["aacb4155.cd7fe8","e8c69b0c.c5ca98","4e0e0ec5.cc59a8","b4ff4812.c32908","9a437899.46c6d8","fa8a0aa.9de5c78","bc9d943d.dcdc98","61dafa97.4e8974","9d41506c.34e368","5be8ee21.b77b4","5256b37e.25e33c","cb4b85e0.f96b58"]]},{"id":"b4ff4812.c32908","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_image_channels_display","label":"Image Channels:","format":"{{msg.dataset_json[\"image_channels\"]}}","layout":"row-spread","x":1698.5714721679688,"y":514.2857360839844,"wires":[]},{"id":"9a437899.46c6d8","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_description_display","label":"Task Description:","format":"{{msg.dataset_json[\"description\"]}}","layout":"row-spread","x":1684.2858276367188,"y":575.7143249511719,"wires":[]},{"id":"37b72bfd.d32574","type":"function","z":"754ae687.5f12c8","name":"output_model_json","func":"var context = this.context.global;\nvar model_name = context.get('selected_model');\n\nvar models = context.get('models');\n\nvar model_json = models.filter(model => model[\"model_name\"] == model_name)[0];\nmsg[\"model_json\"] = model_json;\ncontext.set('selected_model_json',model_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":972.857177734375,"y":767.1428833007812,"wires":[["fa8a0aa.9de5c78","bc9d943d.dcdc98","61dafa97.4e8974","9d41506c.34e368"]]},{"id":"482876a1.372ec","type":"function","z":"754ae687.5f12c8","name":"output_explanation_json","func":"var context = this.context.global;\nvar explanation_name = context.get('selected_explanation');\n\nvar explanations = context.get('explanations');\n\nvar explanation_json = explanations.filter(explanation => explanation[\"explanation_name\"] == explanation_name)[0];\nmsg[\"explanation_json\"] = explanation_json;\ncontext.set('selected_explanation_json',explanation_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":1000.0001220703125,"y":1094.2857666015625,"wires":[["5be8ee21.b77b4","cb4b85e0.f96b58","5256b37e.25e33c"]]},{"id":"fa8a0aa.9de5c78","type":"ui_text","z":"754ae687.5f12c8","group":"1d4a4772.ba60c9","order":0,"width":"16","height":"1","name":"model_name_display","label":"Model Name:","format":"{{msg.model_json[\"model_name\"]}}","layout":"row-spread","x":1677.1429443359375,"y":742.857177734375,"wires":[]},{"id":"bc9d943d.dcdc98","type":"ui_text","z":"754ae687.5f12c8","group":"1d4a4772.ba60c9","order":0,"width":"16","height":"1","name":"model_accuracy_display","label":"Model Accuracy on Dataset (N/A):","format":"{{msg.model_accuracy}}","layout":"row-spread","x":1686.428466796875,"y":802.8571472167969,"wires":[]},{"id":"61dafa97.4e8974","type":"ui_text","z":"754ae687.5f12c8","group":"1d4a4772.ba60c9","order":0,"width":"16","height":"1","name":"model_structure_display","label":"Model Structure (N/A):","format":"{{msg.model_structure}}","layout":"row-spread","x":1683.5714111328125,"y":850.0000610351562,"wires":[]},{"id":"9d41506c.34e368","type":"ui_text","z":"754ae687.5f12c8","group":"1d4a4772.ba60c9","order":0,"width":"16","height":"1","name":"model_description_display","label":"Model Description:","format":"{{msg.model_json[\"description\"]}}","layout":"row-spread","x":1695.0001220703125,"y":910,"wires":[]},{"id":"5be8ee21.b77b4","type":"ui_text","z":"754ae687.5f12c8","group":"8d4f0d04.26fd88","order":0,"width":"16","height":"1","name":"explanation_name_display","label":"Explanation Name:","format":"{{msg.explanation_json[\"explanation_name\"]}}","layout":"row-spread","x":1707.1429443359375,"y":1094.2857666015625,"wires":[]},{"id":"cb4b85e0.f96b58","type":"ui_text","z":"754ae687.5f12c8","group":"8d4f0d04.26fd88","order":0,"width":"16","height":"1","name":"explanation_description_display","label":"Explanation Description:","format":"{{msg.explanation_json[\"description\"]}}","layout":"row-spread","x":1717.8572998046875,"y":1201.4285888671875,"wires":[]},{"id":"5256b37e.25e33c","type":"ui_text","z":"754ae687.5f12c8","group":"8d4f0d04.26fd88","order":0,"width":"16","height":"1","name":"explanation_modality_display","label":"Explanation Modality:","format":"{{msg.explanation_json[\"modality\"]}}","layout":"row-spread","x":1714.285888671875,"y":1152.857177734375,"wires":[]},{"id":"b0a51c28.4b1708","type":"ui_button","z":"754ae687.5f12c8","name":"run_new_example_button","group":"458e1e82.3f7dc","order":0,"width":"16","height":"1","passthru":false,"label":"Run New Example","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":133.5714874267578,"y":1258.5718688964844,"wires":[["1b2d6373.90f7cd"]]},{"id":"eb946f09.82ce6","type":"ui_template","z":"754ae687.5f12c8","group":"8e1f82e4.08b3a8","name":"task_input_display","order":0,"width":"16","height":"6","format":"<div>\n    <p>Ground Truth Label:{{msg.payload.ground_truth}}</p>\n    <p>Input Image:</p>\n    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input}}\" alt=\"Task Input Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1551.5477294921875,"y":1357.142822265625,"wires":[[]]},{"id":"795131cf.d496f","type":"ui_button","z":"754ae687.5f12c8","name":"confirm_dataset_button","group":"253748cc.afc948","order":0,"width":"16","height":"1","passthru":false,"label":"Confirm Dataset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1687.261474609375,"y":642.3809204101562,"wires":[[]]},{"id":"7b028685.eed268","type":"ui_button","z":"754ae687.5f12c8","name":"confirm_model_button","group":"1d4a4772.ba60c9","order":0,"width":"16","height":"1","passthru":false,"label":"Confirm Model","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1687.619140625,"y":980.1190795898438,"wires":[[]]},{"id":"a43668e5.17b528","type":"ui_button","z":"754ae687.5f12c8","name":"confirm_model_button","group":"8d4f0d04.26fd88","order":0,"width":"16","height":"1","passthru":false,"label":"Confirm Model","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1686.1905517578125,"y":1269.761962890625,"wires":[[]]},{"id":"b80c8f34.b1d42","type":"ui_text","z":"754ae687.5f12c8","group":"2e9cf16.79fa80e","order":0,"width":"16","height":"1","name":"task_output_display","label":"Task Output","format":"{{msg.payload}}","layout":"row-spread","x":1558.6904296875,"y":1485.4758605957031,"wires":[]},{"id":"211fe4f4.6f53dc","type":"ui_template","z":"754ae687.5f12c8","group":"3f813aa6.73a69e","name":"explanation_display","order":0,"width":"16","height":"6","format":"<div>\n    <p>Prediction During Explanation:{{msg.payload.prediction}}</p>\n    <p>Explanation Text:{{msg.payload.explanation_text}}</p>\n    <p>Explanation Image:</p>\n    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.explanation_image}}\" alt=\"Explanation Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1559.0477294921875,"y":1687.6189575195312,"wires":[[]]},{"id":"3eb4fb51.e11cec","type":"function","z":"754ae687.5f12c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1287.381103515625,"y":1685.8329467773438,"wires":[["211fe4f4.6f53dc"]]},{"id":"c672fe6a.2f24","type":"http request","z":"754ae687.5f12c8","name":"fetch_dataset_test_input","method":"GET","ret":"obj","url":"http://localhost:6001/datasets/test_image/{{{selected_dataset}}}","tls":"","x":1104.4046630859375,"y":1356.9048767089844,"wires":[["1829dc2a.efbb94","939151f6.fc4ca8","477f7204.997084"]]},{"id":"1b2d6373.90f7cd","type":"function","z":"754ae687.5f12c8","name":"get_selected_dataset_name","func":"\nvar context = this.context.global;\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\n\nreturn msg;","outputs":1,"noerr":0,"x":303.452392578125,"y":1361.1905517578125,"wires":[["c672fe6a.2f24"]]},{"id":"1829dc2a.efbb94","type":"debug","z":"754ae687.5f12c8","name":"input_data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110.1192626953125,"y":1400.59521484375,"wires":[]},{"id":"939151f6.fc4ca8","type":"function","z":"754ae687.5f12c8","name":"get_selected_model_name_and_dataset_json","func":"\nvar context = this.context.global;\nmsg.payload= {};\nmsg.payload[\"selected_model\"] = context.get('selected_model');\nmsg.payload[\"selected_dataset_json\"] = context.get('selected_dataset_json');\nmsg.payload[\"input\"] = context.get('input');\nreturn msg;","outputs":1,"noerr":0,"x":316.3094940185547,"y":1474.7618408203125,"wires":[["a9a9f62.eaa3188","b69193b9.5ad3f8"]]},{"id":"aac629a4.681da8","type":"http request","z":"754ae687.5f12c8","name":"fetch_predict","method":"POST","ret":"obj","url":"http://localhost:6101/models/predict","tls":"","x":1116.309326171875,"y":1487.9758911132812,"wires":[["52f84321.d86d94"]]},{"id":"52f84321.d86d94","type":"function","z":"754ae687.5f12c8","name":"prediction_as_payload","func":"msg.payload = msg.payload[\"prediction\"];\nreturn msg;","outputs":1,"noerr":0,"x":1329.1668701171875,"y":1486.5475769042969,"wires":[["b80c8f34.b1d42","8cc06794.ac98"]]},{"id":"a9a9f62.eaa3188","type":"debug","z":"754ae687.5f12c8","name":"predict_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":294.4048156738281,"y":1524.8806762695312,"wires":[]},{"id":"b69193b9.5ad3f8","type":"json","z":"754ae687.5f12c8","name":"convert_dataset_json_tostring","property":"payload.selected_dataset_json","action":"str","pretty":false,"x":652.9761352539062,"y":1486.7854919433594,"wires":[["d5c8f8b7.d300c","a1edd285.88e748"]]},{"id":"d5c8f8b7.d300c","type":"debug","z":"754ae687.5f12c8","name":"JSONpredict_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":646.3095092773438,"y":1525.8334350585938,"wires":[]},{"id":"a1edd285.88e748","type":"function","z":"754ae687.5f12c8","name":"add_request_headers","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":924.8812255859375,"y":1487.2618713378906,"wires":[["aac629a4.681da8"]]},{"id":"8cc06794.ac98","type":"function","z":"754ae687.5f12c8","name":"get_explanation_request_data","func":"var context = this.context.global;\nmsg.payload = {};\nmsg.payload[\"input\"] = context.get('input');\nmsg.payload[\"selected_dataset_json\"] = context.get('selected_dataset_json');\nmsg.payload[\"selected_model_json\"] = context.get('selected_model_json');\nmsg.payload[\"selected_explanation_json\"] = context.get('selected_explanation_json');\n\nreturn msg;","outputs":1,"noerr":0,"x":267.7381286621094,"y":1686.9048461914062,"wires":[["f4a90f9.9499f7","bd224cb.1bce03"]]},{"id":"f4a90f9.9499f7","type":"json","z":"754ae687.5f12c8","name":"convert_dataset_json_tostring","property":"payload.selected_dataset_json","action":"str","pretty":false,"x":642.0238647460938,"y":1685.476318359375,"wires":[["399829ff.47fa5e"]]},{"id":"399829ff.47fa5e","type":"json","z":"754ae687.5f12c8","name":"convert_model_json_tostring","property":"payload.selected_model_json","action":"str","pretty":false,"x":642.0238647460938,"y":1731.1904296875,"wires":[["e9a756b3.7a3de8"]]},{"id":"6d91958b.5351ec","type":"function","z":"754ae687.5f12c8","name":"add_request_headers","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":907.7381591796875,"y":1686.90478515625,"wires":[["d4488f4b.9245a8"]]},{"id":"d4488f4b.9245a8","type":"http request","z":"754ae687.5f12c8","name":"fetch_predict","method":"POST","ret":"obj","url":"http://localhost:6201/explanations/explain","tls":"","x":1109.166748046875,"y":1685.476318359375,"wires":[["3eb4fb51.e11cec"]]},{"id":"e9a756b3.7a3de8","type":"json","z":"754ae687.5f12c8","name":"convert_explanation_json_tostring","property":"payload.selected_explanation_json","action":"str","pretty":false,"x":657.7380981445312,"y":1782.619140625,"wires":[["6d91958b.5351ec","e08e124c.15a97"]]},{"id":"477f7204.997084","type":"function","z":"754ae687.5f12c8","name":"store_input_image","func":"\nvar context = this.context.global;\ncontext.set('input',msg.payload[\"input\"]);\nreturn msg;","outputs":1,"noerr":0,"x":1337.7381591796875,"y":1356.1904907226562,"wires":[["eb946f09.82ce6"]]},{"id":"e08e124c.15a97","type":"debug","z":"754ae687.5f12c8","name":"JSONexplanation_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650.5952758789062,"y":1849.7618408203125,"wires":[]},{"id":"bd224cb.1bce03","type":"debug","z":"754ae687.5f12c8","name":"explanation_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":259.1666259765625,"y":1766.9049072265625,"wires":[]},{"id":"bd687af6.c177","type":"ui_button","z":"754ae687.5f12c8","name":"run_same_example_button","group":"458e1e82.3f7dc","order":0,"width":"16","height":"1","passthru":false,"label":"Run Same Example","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260.5952606201172,"y":1207.2618408203125,"wires":[["939151f6.fc4ca8"]]},{"id":"253748cc.afc948","type":"ui_group","z":"","name":"Datasets","tab":"16dd4e54.ecc04a","order":1,"disp":true,"width":"16","collapse":true},{"id":"1d4a4772.ba60c9","type":"ui_group","z":"","name":"Task Models","tab":"16dd4e54.ecc04a","order":2,"disp":true,"width":"16","collapse":true},{"id":"8d4f0d04.26fd88","type":"ui_group","z":"","name":"Explanation Techniques","tab":"16dd4e54.ecc04a","order":3,"disp":true,"width":"16","collapse":true},{"id":"458e1e82.3f7dc","type":"ui_group","z":"","name":"Run Example","tab":"16dd4e54.ecc04a","order":4,"disp":true,"width":"16","collapse":false},{"id":"8e1f82e4.08b3a8","type":"ui_group","z":"","name":"Input","tab":"16dd4e54.ecc04a","order":5,"disp":true,"width":"16","collapse":true},{"id":"2e9cf16.79fa80e","type":"ui_group","z":"","name":"Task Output","tab":"16dd4e54.ecc04a","order":6,"disp":true,"width":"16","collapse":true},{"id":"3f813aa6.73a69e","type":"ui_group","z":"","name":"Explanation Output","tab":"16dd4e54.ecc04a","order":7,"disp":true,"width":"16","collapse":true},{"id":"16dd4e54.ecc04a","type":"ui_tab","z":"","name":"Interpretability Technique Dashboard","icon":"dashboard","order":1}]
