flask_services/node_flow.txt
[{"id":"d74fc941.02f5b","type":"ui_dropdown","z":"754ae687.5f12c8","name":"datasets_dropdown","label":"Available Datasets","place":"Select Dataset","group":"31e04534.b3ac3a","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":985,"y":90.91584777832031,"wires":[["30893fbd.ebbde8","a1d41ffd.d2d7d"]]},{"id":"e2299480.3dd298","type":"http request","z":"754ae687.5f12c8","name":"get_datasets","method":"GET","ret":"obj","url":"http://localhost:6001/datasets/get_available","tls":"","x":424.99993896484375,"y":92.49917602539062,"wires":[["abcf9d94.db034","2bd55b45.ab844c"]]},{"id":"abcf9d94.db034","type":"debug","z":"754ae687.5f12c8","name":"datasets_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":438.77783203125,"y":137.17140197753906,"wires":[]},{"id":"b680e9e.9d4b698","type":"inject","z":"754ae687.5f12c8","name":"update_available_datasets","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":157.00001525878906,"y":92.399169921875,"wires":[["e2299480.3dd298","1d20af81.79321"]]},{"id":"2bd55b45.ab844c","type":"function","z":"754ae687.5f12c8","name":"get_available_dataset_names","func":"//msg[\"available_datasets\"] = [{\"dataset 1\":\"dataset 1\"},{\"dataset 2\":\"dataset 2\"}];\n\nvar available_list = [{\"Select Dataset\":\"\"}];\n\nfor(var dataset_i = 0; dataset_i < msg.payload.datasets.length; ++dataset_i ){\n    var dataset = msg.payload.datasets[dataset_i];\n    var dataset_name = dataset[\"dataset_name\"];\n    // var folder = dataset[\"folder\"];\n\n    var dataset_value_dict = {};\n    dataset_value_dict[dataset_name] = dataset_name;\n    \n    available_list.push(dataset_value_dict);\n}\n\nmsg[\"available_dataset_names\"] = available_list;\nmsg[\"options\"] = msg[\"available_dataset_names\"];\n\nvar context = this.context.global;\ncontext.set('datasets',msg.payload.datasets);\ncontext.set('available_dataset_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":718,"y":91.56581115722656,"wires":[["d74fc941.02f5b","8ff62506.67e3b"]]},{"id":"30893fbd.ebbde8","type":"debug","z":"754ae687.5f12c8","name":"dataset_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":962.0333251953125,"y":151.68251037597656,"wires":[]},{"id":"62fe4b2b.a773f4","type":"ui_dropdown","z":"754ae687.5f12c8","name":"models_dropdown","label":"Available Models","place":"Select Model","group":"143b9a94.5706c5","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":957.5333557128906,"y":406.68251037597656,"wires":[["8665c10.47cc54","6c29329e.fd1954"]]},{"id":"8d17b941.330928","type":"http request","z":"754ae687.5f12c8","name":"get_models","method":"GET","ret":"obj","url":"http://localhost:6101/models/get_available_for_dataset/{{{selected_dataset}}}","tls":"","x":417.5332946777344,"y":408.2658386230469,"wires":[["76875d70.0b75cc","482e39c0.a5fa5"]]},{"id":"76875d70.0b75cc","type":"debug","z":"754ae687.5f12c8","name":"models_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":393.5333251953125,"y":460.7158508300781,"wires":[]},{"id":"482e39c0.a5fa5","type":"function","z":"754ae687.5f12c8","name":"get_available_model_names","func":"var available_list = [];\n\nfor(var i = 0; i < msg.payload.models.length; ++i ){\n    var model = msg.payload.models[i];\n    var model_name = model[\"model_name\"];\n    // var script_name = model[\"script_name\"];\n    // var class_name = model[\"class_name\"];\n    \n    var model_value_dict = {};\n    model_value_dict[model_name] = model_name;\n    \n    available_list.push(model_value_dict);\n}\n\n\nmsg[\"available_models\"] = available_list;\nmsg[\"options\"] = msg[\"available_models\"];\n\nvar context = this.context.global;\ncontext.set('models',msg.payload.models);\ncontext.set('available_model_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":690.5333557128906,"y":407.3324737548828,"wires":[["62fe4b2b.a773f4"]]},{"id":"8665c10.47cc54","type":"debug","z":"754ae687.5f12c8","name":"model_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":934.5666809082031,"y":467.4491729736328,"wires":[]},{"id":"a1d41ffd.d2d7d","type":"function","z":"754ae687.5f12c8","name":"set_dataset_selected_property","func":"msg[\"selected_dataset\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_dataset',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":336.61669921875,"y":273.0991668701172,"wires":[["8d17b941.330928","6881b190.44e3e8","51e691ed.a19c48"]]},{"id":"8ff62506.67e3b","type":"debug","z":"754ae687.5f12c8","name":"available_datasets","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":704.4222412109375,"y":135.5158233642578,"wires":[]},{"id":"ef7c5e16.188b3","type":"ui_dropdown","z":"754ae687.5f12c8","name":"explanations_dropdown","label":"Available Explanations","place":"Select Explanations","group":"7df16d22.4638ec","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1028.6722412109375,"y":739.6825103759766,"wires":[["317ffb9e.919904","6ba4ef81.e6eb2"]]},{"id":"de37ab79.9ccc58","type":"http request","z":"754ae687.5f12c8","name":"get_explanations","method":"GET","ret":"obj","url":"http://localhost:6201/explanations/get_available_for_filters/{{{selected_dataset}}},{{{selected_model}}}","tls":"","x":420.8943786621094,"y":742.3769226074219,"wires":[["e8f848cd.c9172","7e681470.a1029c"]]},{"id":"e8f848cd.c9172","type":"debug","z":"754ae687.5f12c8","name":"explanations_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":396.8944091796875,"y":794.8269348144531,"wires":[]},{"id":"7e681470.a1029c","type":"function","z":"754ae687.5f12c8","name":"get_available_explanation_names","func":"var available_list = [];\n\nfor(var i = 0; i < msg.payload.explanations.length; ++i ){\n    var explanation = msg.payload.explanations[i];\n    var explanation_name = explanation[\"explanation_name\"];\n     \n    var value_dict = {};\n    value_dict[explanation_name] = explanation_name;\n    \n    available_list.push(value_dict);\n}\n\n\nmsg[\"available_explanations\"] = available_list;\nmsg[\"options\"] = msg[\"available_explanations\"];\n\n\nvar context = this.context.global;\ncontext.set('explanations',msg.payload.explanations);\ncontext.set('available_explanation_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":693.8944396972656,"y":741.4435577392578,"wires":[["ef7c5e16.188b3"]]},{"id":"317ffb9e.919904","type":"debug","z":"754ae687.5f12c8","name":"explanation_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1005.70556640625,"y":800.4491729736328,"wires":[]},{"id":"6c29329e.fd1954","type":"function","z":"754ae687.5f12c8","name":"set_model_selected_property","func":"msg[\"selected_model\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_model',msg.payload);\n\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\n\nreturn msg;","outputs":1,"noerr":0,"x":319.977783203125,"y":607.2102508544922,"wires":[["de37ab79.9ccc58","8129243.b4d79d8","d6fe53f3.e09f2"]]},{"id":"8129243.b4d79d8","type":"debug","z":"754ae687.5f12c8","name":"msg_before_explanations","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":373.3111029730903,"y":663.2936214870876,"wires":[]},{"id":"6ba4ef81.e6eb2","type":"function","z":"754ae687.5f12c8","name":"set_explanation_selected_property","func":"msg[\"selected_explanation\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_explanation',msg.payload);\n\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\nmsg[\"selected_model\"] = context.get('selected_model');\n\n\nreturn msg;","outputs":1,"noerr":0,"x":331.64447021484375,"y":940.7935943603516,"wires":[["c75474a5.1c103"]]},{"id":"8a389875.119ab8","type":"ui_text","z":"754ae687.5f12c8","group":"31e04534.b3ac3a","order":0,"width":"16","height":"1","name":"dataset_name_display","label":"Dataset Name:","format":"{{msg.dataset_json[\"dataset_name\"]}}","layout":"row-spread","x":1628.5493621826172,"y":190.00003051757812,"wires":[]},{"id":"6881b190.44e3e8","type":"function","z":"754ae687.5f12c8","name":"output_dataset_json","func":"var context = this.context.global;\nvar dataset_name = context.get('selected_dataset');\n\nvar datasets = context.get('datasets');\n\nvar dataset_json = datasets.filter(dataset => dataset[\"dataset_name\"] == dataset_name)[0];\nmsg[\"dataset_json\"] = dataset_json;\ncontext.set('selected_dataset_json',dataset_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":1051.4063568115234,"y":262.857177734375,"wires":[["8a389875.119ab8","23b86bbb.170e9c","f464ebe4.b86f48","f9362a25.b6303","19f4d5a6.c99332"]]},{"id":"23b86bbb.170e9c","type":"ui_text","z":"754ae687.5f12c8","group":"31e04534.b3ac3a","order":0,"width":"16","height":"1","name":"dataset_image_x_display","label":"Image X:","format":"{{msg.dataset_json[\"image_x\"]}}","layout":"row-spread","x":1637.8348846435547,"y":250,"wires":[]},{"id":"f464ebe4.b86f48","type":"ui_text","z":"754ae687.5f12c8","group":"31e04534.b3ac3a","order":0,"width":"16","height":"1","name":"dataset_image_y_display","label":"Image Y:","format":"{{msg.dataset_json[\"image_y\"]}}","layout":"row-spread","x":1634.9778289794922,"y":297.1429138183594,"wires":[]},{"id":"1d20af81.79321","type":"function","z":"754ae687.5f12c8","name":"reset_value","func":"msg[\"payload\"] = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1471.406478881836,"y":20,"wires":[["8a389875.119ab8","23b86bbb.170e9c","f464ebe4.b86f48","f9362a25.b6303","19f4d5a6.c99332","3f2a1fe.919e2e","f1700f84.60c738","edbfa989.330328","404a2b9a.18a0d4","cfe58b8.e6446f8","ee2ba0db.60838","220c44ff.24ced4"]]},{"id":"f9362a25.b6303","type":"ui_text","z":"754ae687.5f12c8","group":"31e04534.b3ac3a","order":0,"width":"16","height":"1","name":"dataset_image_channels_display","label":"Image Channels:","format":"{{msg.dataset_json[\"image_channels\"]}}","layout":"row-spread","x":1673.5492401123047,"y":352.8571472167969,"wires":[]},{"id":"19f4d5a6.c99332","type":"ui_text","z":"754ae687.5f12c8","group":"31e04534.b3ac3a","order":0,"width":"16","height":"1","name":"dataset_description_display","label":"Task Description:","format":"{{msg.dataset_json[\"description\"]}}","layout":"row-spread","x":1659.2635955810547,"y":414.2857360839844,"wires":[]},{"id":"d6fe53f3.e09f2","type":"function","z":"754ae687.5f12c8","name":"output_model_json","func":"var context = this.context.global;\nvar model_name = context.get('selected_model');\n\nvar models = context.get('models');\n\nvar model_json = models.filter(model => model[\"model_name\"] == model_name)[0];\nmsg[\"model_json\"] = model_json;\ncontext.set('selected_model_json',model_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":947.8349456787109,"y":605.7142944335938,"wires":[["3f2a1fe.919e2e","f1700f84.60c738","edbfa989.330328","404a2b9a.18a0d4"]]},{"id":"c75474a5.1c103","type":"function","z":"754ae687.5f12c8","name":"output_explanation_json","func":"var context = this.context.global;\nvar explanation_name = context.get('selected_explanation');\n\nvar explanations = context.get('explanations');\n\nvar explanation_json = explanations.filter(explanation => explanation[\"explanation_name\"] == explanation_name)[0];\nmsg[\"explanation_json\"] = explanation_json;\ncontext.set('selected_explanation_json',explanation_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":974.9778900146484,"y":932.857177734375,"wires":[["cfe58b8.e6446f8","220c44ff.24ced4","ee2ba0db.60838"]]},{"id":"3f2a1fe.919e2e","type":"ui_text","z":"754ae687.5f12c8","group":"143b9a94.5706c5","order":0,"width":"16","height":"1","name":"model_name_display","label":"Model Name:","format":"{{msg.model_json[\"model_name\"]}}","layout":"row-spread","x":1652.1207122802734,"y":581.4285888671875,"wires":[]},{"id":"f1700f84.60c738","type":"ui_text","z":"754ae687.5f12c8","group":"143b9a94.5706c5","order":0,"width":"16","height":"1","name":"model_accuracy_display","label":"Model Accuracy on Dataset (N/A):","format":"{{msg.model_accuracy}}","layout":"row-spread","x":1661.406234741211,"y":641.4285583496094,"wires":[]},{"id":"edbfa989.330328","type":"ui_text","z":"754ae687.5f12c8","group":"143b9a94.5706c5","order":0,"width":"16","height":"1","name":"model_structure_display","label":"Model Structure (N/A):","format":"{{msg.model_structure}}","layout":"row-spread","x":1658.5491790771484,"y":688.5714721679688,"wires":[]},{"id":"404a2b9a.18a0d4","type":"ui_text","z":"754ae687.5f12c8","group":"143b9a94.5706c5","order":0,"width":"16","height":"1","name":"model_description_display","label":"Model Description:","format":"{{msg.model_json[\"description\"]}}","layout":"row-spread","x":1669.9778900146484,"y":748.5714111328125,"wires":[]},{"id":"cfe58b8.e6446f8","type":"ui_text","z":"754ae687.5f12c8","group":"7df16d22.4638ec","order":0,"width":"16","height":"1","name":"explanation_name_display","label":"Explanation Name:","format":"{{msg.explanation_json[\"explanation_name\"]}}","layout":"row-spread","x":1682.1207122802734,"y":932.857177734375,"wires":[]},{"id":"220c44ff.24ced4","type":"ui_text","z":"754ae687.5f12c8","group":"7df16d22.4638ec","order":0,"width":"16","height":"1","name":"explanation_description_display","label":"Explanation Description:","format":"{{msg.explanation_json[\"description\"]}}","layout":"row-spread","x":1692.8350677490234,"y":1040,"wires":[]},{"id":"ee2ba0db.60838","type":"ui_text","z":"754ae687.5f12c8","group":"7df16d22.4638ec","order":0,"width":"16","height":"1","name":"explanation_modality_display","label":"Explanation Modality:","format":"{{msg.explanation_json[\"modality\"]}}","layout":"row-spread","x":1689.263656616211,"y":991.4285888671875,"wires":[]},{"id":"48e28639.9e027","type":"ui_button","z":"754ae687.5f12c8","name":"run_new_example_button","group":"1f47e0ec.e07ff7","order":0,"width":"16","height":"1","passthru":false,"label":"Run New Example","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":115,"y":1310.9158477783203,"wires":[["d9e6c413.6d10a8","d3134d5a.1a0d18","ee32310f.da29f8"]]},{"id":"9c2d00b.ba8de","type":"ui_template","z":"754ae687.5f12c8","group":"a1aecd1.c37473","name":"task_input_display","order":0,"width":"16","height":"6","format":"<div>\n    <p>Image Name:{{msg.payload.image_name}}</p>\n    <p>Ground Truth Label:{{msg.payload.ground_truth}}</p>\n    <p>Input Image:</p>\n    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input}}\" alt=\"Task Input Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1655,"y":1290.9158477783203,"wires":[[]]},{"id":"9d44787d.ea1f48","type":"ui_button","z":"754ae687.5f12c8","name":"confirm_dataset_button","group":"31e04534.b3ac3a","order":0,"width":"16","height":"1","passthru":false,"label":"Confirm Dataset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1662.239242553711,"y":480.95233154296875,"wires":[[]]},{"id":"452f8198.7c7e7","type":"ui_button","z":"754ae687.5f12c8","name":"confirm_model_button","group":"143b9a94.5706c5","order":0,"width":"16","height":"1","passthru":false,"label":"Confirm Model","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1662.596908569336,"y":818.6904907226562,"wires":[[]]},{"id":"e8230f67.010908","type":"ui_button","z":"754ae687.5f12c8","name":"confirm_model_button","group":"7df16d22.4638ec","order":0,"width":"16","height":"1","passthru":false,"label":"Confirm Model","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1661.1683197021484,"y":1108.3333740234375,"wires":[[]]},{"id":"ead00157.d0b73","type":"ui_text","z":"754ae687.5f12c8","group":"e164d107.831d68","order":0,"width":"16","height":"1","name":"task_output_display","label":"Task Output","format":"{{msg.payload}}","layout":"row-spread","x":1662.1427001953125,"y":1419.2488861083984,"wires":[]},{"id":"4ded72cc.2d935c","type":"ui_template","z":"754ae687.5f12c8","group":"2d914de6.dca9ba","name":"explanation_display","order":0,"width":"16","height":"6","format":"<div>\n    <p>Prediction During Explanation:{{msg.payload.prediction}}</p>\n    <p>Explanation Text:{{msg.payload.explanation_text}}</p>\n    <p>Explanation Image:</p>\n    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.explanation_image}}\" alt=\"Explanation Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1662.5,"y":1621.3919830322266,"wires":[[]]},{"id":"1f9171a8.f92bee","type":"function","z":"754ae687.5f12c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1262.358871459961,"y":1724.4043579101562,"wires":[["4ded72cc.2d935c"]]},{"id":"2f3fa22d.678816","type":"http request","z":"754ae687.5f12c8","name":"fetch_dataset_test_input","method":"GET","ret":"obj","url":"http://localhost:6001/datasets/test_image/{{{selected_dataset}}}","tls":"","x":875,"y":1390.9158477783203,"wires":[["d0b58897.98e19","3f6a8cf0.900444"]]},{"id":"d9e6c413.6d10a8","type":"function","z":"754ae687.5f12c8","name":"get_selected_dataset_name","func":"\nvar context = this.context.global;\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\n\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":1390.9158477783203,"wires":[["2f3fa22d.678816"]]},{"id":"d0b58897.98e19","type":"debug","z":"754ae687.5f12c8","name":"input_data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1085.0970306396484,"y":1439.1666259765625,"wires":[]},{"id":"c160127a.ded0b","type":"function","z":"754ae687.5f12c8","name":"get_selected_model_name_and_dataset_json","func":"\nvar context = this.context.global;\nmsg.payload= {};\nmsg.payload[\"selected_model\"] = context.get('selected_model');\nmsg.payload[\"selected_dataset_json\"] = context.get('selected_dataset_json');\nmsg.payload[\"input\"] = context.get('input');\nreturn msg;","outputs":1,"noerr":0,"x":291.2872619628906,"y":1513.333251953125,"wires":[["2e86bbeb.a757ec","867f5168.39a78"]]},{"id":"1cb599ac.6c0b5e","type":"http request","z":"754ae687.5f12c8","name":"fetch_predict","method":"POST","ret":"obj","url":"http://localhost:6101/models/predict","tls":"","x":1091.287094116211,"y":1526.5473022460938,"wires":[["96a7ee58.7b12"]]},{"id":"96a7ee58.7b12","type":"function","z":"754ae687.5f12c8","name":"prediction_as_payload","func":"msg.payload = msg.payload[\"prediction\"];\nreturn msg;","outputs":1,"noerr":0,"x":1304.1446380615234,"y":1525.1189880371094,"wires":[["ead00157.d0b73","674c8132.11fa08"]]},{"id":"2e86bbeb.a757ec","type":"debug","z":"754ae687.5f12c8","name":"predict_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":269.38258361816406,"y":1563.4520874023438,"wires":[]},{"id":"867f5168.39a78","type":"json","z":"754ae687.5f12c8","name":"convert_dataset_json_tostring","property":"payload.selected_dataset_json","action":"str","pretty":false,"x":635,"y":1510.9158477783203,"wires":[["51ca3f82.d2ad38","78847946.453b2"]]},{"id":"51ca3f82.d2ad38","type":"debug","z":"754ae687.5f12c8","name":"JSONpredict_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":621.2872772216797,"y":1564.4048461914062,"wires":[]},{"id":"78847946.453b2","type":"function","z":"754ae687.5f12c8","name":"add_request_headers","func":"//msg.headers = {'content-type':'x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":1510.9158477783203,"wires":[["1cb599ac.6c0b5e"]]},{"id":"674c8132.11fa08","type":"function","z":"754ae687.5f12c8","name":"get_explanation_request_data","func":"var context = this.context.global;\nmsg.payload = {};\nmsg.payload[\"input\"] = context.get('input');\nmsg.payload[\"selected_dataset_json\"] = context.get('selected_dataset_json');\nmsg.payload[\"selected_model_json\"] = context.get('selected_model_json');\nmsg.payload[\"selected_explanation_json\"] = context.get('selected_explanation_json');\n\nreturn msg;","outputs":1,"noerr":0,"x":242.7158966064453,"y":1725.4762573242188,"wires":[["59f7592f.98b9e8","fbfc5b9a.cd8cd8"]]},{"id":"59f7592f.98b9e8","type":"json","z":"754ae687.5f12c8","name":"convert_dataset_json_tostring","property":"payload.selected_dataset_json","action":"str","pretty":false,"x":617.0016326904297,"y":1724.0477294921875,"wires":[["8af0660a.fe581"]]},{"id":"8af0660a.fe581","type":"json","z":"754ae687.5f12c8","name":"convert_model_json_tostring","property":"payload.selected_model_json","action":"str","pretty":false,"x":617.0016326904297,"y":1769.7618408203125,"wires":[["f57e52ef.143e78"]]},{"id":"88dac2f2.2ac718","type":"function","z":"754ae687.5f12c8","name":"add_request_headers","func":"//msg.headers = {'content-type':'x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":882.7159271240234,"y":1725.4761962890625,"wires":[["4f50167.3e2abe8"]]},{"id":"4f50167.3e2abe8","type":"http request","z":"754ae687.5f12c8","name":"fetch_predict","method":"POST","ret":"obj","url":"http://localhost:6201/explanations/explain","tls":"","x":1084.144515991211,"y":1724.0477294921875,"wires":[["1f9171a8.f92bee","650e66cc.178a","5b8af776.4f5298"]]},{"id":"f57e52ef.143e78","type":"json","z":"754ae687.5f12c8","name":"convert_explanation_json_tostring","property":"payload.selected_explanation_json","action":"str","pretty":false,"x":632.7158660888672,"y":1821.1905517578125,"wires":[["88dac2f2.2ac718","d473c8e5.e988e8"]]},{"id":"3f6a8cf0.900444","type":"function","z":"754ae687.5f12c8","name":"store_input_image","func":"\nvar context = this.context.global;\ncontext.set('input',msg.payload[\"input\"]);\nreturn msg;","outputs":1,"noerr":0,"x":1312.7159271240234,"y":1394.7619018554688,"wires":[["9c2d00b.ba8de","c160127a.ded0b"]]},{"id":"d473c8e5.e988e8","type":"debug","z":"754ae687.5f12c8","name":"JSONexplanation_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":625.5730438232422,"y":1888.333251953125,"wires":[]},{"id":"fbfc5b9a.cd8cd8","type":"debug","z":"754ae687.5f12c8","name":"explanation_request_body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":234.14439392089844,"y":1805.476318359375,"wires":[]},{"id":"b5af0f49.3e82e8","type":"ui_button","z":"754ae687.5f12c8","name":"run_same_example_button","group":"1f47e0ec.e07ff7","order":0,"width":"16","height":"1","passthru":false,"label":"Run Same Example","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":125,"y":1270.9158477783203,"wires":[["c160127a.ded0b","d3134d5a.1a0d18","ee32310f.da29f8"]]},{"id":"ee32310f.da29f8","type":"function","z":"754ae687.5f12c8","name":"reset_value","func":"msg[\"payload\"] = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1335,"y":1293.9158935546875,"wires":[["ead00157.d0b73","d318c1f5.acbad"]]},{"id":"d3134d5a.1a0d18","type":"function","z":"754ae687.5f12c8","name":"reset_value","func":"msg[\"payload\"] = {};\n    msg.payload[\"prediction\"] =\"\";\n    msg.payload[\"explanation_text\"] =\"\";\n    msg.payload[\"explanation_image\"] =\"\";\n \nreturn msg;","outputs":1,"noerr":0,"x":1335,"y":1330.9158477783203,"wires":[["4ded72cc.2d935c"]]},{"id":"5de9fcf5.644a7c","type":"ui_text_input","z":"754ae687.5f12c8","name":"specific_input_entry","label":"Example Name (from current dataset only):","group":"1f47e0ec.e07ff7","order":0,"width":"12","height":"1","passthru":false,"mode":"text","delay":"300","topic":"","x":185,"y":1130.9158477783203,"wires":[["11280e3.06c9172","7361f255.d84e94"]]},{"id":"34cec3c3.2c3c7c","type":"ui_button","z":"754ae687.5f12c8","name":"run_specific_button","group":"1f47e0ec.e07ff7","order":0,"width":"4","height":"1","passthru":false,"label":"Run Specific Example","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":175,"y":1190.9158477783203,"wires":[["5bb5b0fc.cf7fd"]]},{"id":"11280e3.06c9172","type":"function","z":"754ae687.5f12c8","name":"store_specific_input_name","func":"\nvar context = this.context.global;\ncontext.set('specific_input_name',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":1130.9158477783203,"wires":[[]]},{"id":"ee6701e7.65779","type":"http request","z":"754ae687.5f12c8","name":"fetch_specific_test_input","method":"GET","ret":"obj","url":"http://localhost:6001/datasets/test_image/specific?dataset={{{selected_dataset}}}&image_name={{{specific_input_name}}}","tls":"","x":815,"y":1190.9158477783203,"wires":[["3f6a8cf0.900444"]]},{"id":"5bb5b0fc.cf7fd","type":"function","z":"754ae687.5f12c8","name":"get_specific_input_and_dataset_name","func":"\nvar context = this.context.global;\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\nmsg[\"specific_input_name\"] = context.get('specific_input_name');\n\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":1190.9158477783203,"wires":[["ee6701e7.65779"]]},{"id":"7361f255.d84e94","type":"debug","z":"754ae687.5f12c8","name":"specific_file_input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":485,"y":1090.9158477783203,"wires":[]},{"id":"650e66cc.178a","type":"function","z":"754ae687.5f12c8","name":"get_attribution_data","func":"attribution_slices = msg.payload[\"additional_outputs\"][\"attribution_slices\"];\nattribution_slice_weights = msg.payload[\"additional_outputs\"][\"attribution_slice_weights\"];\nmsg.payload = {};\nmsg.payload[\"attribution_slices\"] = attribution_slices;\nmsg.payload[\"attribution_slice_weights\"] = attribution_slice_weights;\n\nreturn msg;","outputs":1,"noerr":0,"x":202.75,"y":2019.75,"wires":[["46407549.a9a1a4"]]},{"id":"46407549.a9a1a4","type":"json","z":"754ae687.5f12c8","name":"convert_attribution_slices_json_tostring","property":"payload.attribution_slices","action":"str","pretty":false,"x":499.75,"y":2020.75,"wires":[["69a44ba.246d8b4"]]},{"id":"69a44ba.246d8b4","type":"json","z":"754ae687.5f12c8","name":"convert_attribution_slice_weights_json_tostring","property":"payload.attribution_slice_weights","action":"str","pretty":false,"x":530.75,"y":2066.75,"wires":[["95c6fa76.0699"]]},{"id":"95c6fa76.0699","type":"http request","z":"754ae687.5f12c8","name":"fetch_attribution","method":"POST","ret":"obj","url":"http://localhost:6201/explanations/attribution_map","tls":"","x":1002.75,"y":2039.75,"wires":[["1b66c642.db8d3a"]]},{"id":"d318c1f5.acbad","type":"ui_text","z":"754ae687.5f12c8","group":"2d914de6.dca9ba","order":0,"width":"0","height":"0","name":"attribution_map_display","label":"Attribution Map:","format":"{{msg.payload.attribution_map}}","layout":"row-spread","x":1680.75,"y":2036.816650390625,"wires":[]},{"id":"5b8af776.4f5298","type":"debug","z":"754ae687.5f12c8","name":"explain_output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1165.75,"y":1829.5166015625,"wires":[]},{"id":"1b66c642.db8d3a","type":"debug","z":"754ae687.5f12c8","name":"attitubtion_map_response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1036.75,"y":2089.5166015625,"wires":[]},{"id":"7a15187a.1da2c","type":"comment","z":"754ae687.5f12c8","name":"NOTE:attribution display","info":"Only connect attribution disply to test it. \nThe output fills the UI.","x":1359.75,"y":2038.4000244140625,"wires":[]},{"id":"51e691ed.a19c48","type":"function","z":"754ae687.5f12c8","name":"get_selected_dataset_name","func":"\nvar context = this.context.global;\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\n\nreturn msg;","outputs":1,"noerr":0,"x":1980.75,"y":147.75,"wires":[["517911ff.403028"]]},{"id":"517911ff.403028","type":"http request","z":"754ae687.5f12c8","name":"fetch_dataset_test_input","method":"GET","ret":"obj","url":"http://localhost:6001/datasets/test_images/{{{selected_dataset}}}","tls":"","x":1993.75,"y":184.75,"wires":[["42ba324.158364c"]]},{"id":"42ba324.158364c","type":"ui_template","z":"754ae687.5f12c8","group":"31e04534.b3ac3a","name":"task_input_display","order":0,"width":"16","height":"6","format":"<h3>Sample Images</h3>\n\n<div class=\"sample_image_container\">\n\t    <h3>Image 1:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[0]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[0]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[0]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 2:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[1]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[1]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[1]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 3:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[2]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[2]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[2]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 4:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[3]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[3]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[3]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 5:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[4]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[4]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[4]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 6:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[5]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[5]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[5]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 7:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[6]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[6]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[6]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 8:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[7]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[7]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[7]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 9:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[8]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[8]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[8]}}\" alt=\"Task Input Image\" />\n\t</div> \n<div class=\"sample_image_container\">\n\t    <h3>Image 10:</h3>\n\t    <p>Image Name:{{msg.payload.image_name[9]}}</p>\n\t    <p>Ground Truth Label:{{msg.payload.ground_truth[9]}}</p>\n\t    <p>Input Image:</p>\n\t    <img style=\"width:25%\" src=\"data:image/jpg;base64, {{msg.payload.input[9]}}\" alt=\"Task Input Image\" />\n\t</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2010.75,"y":225.75,"wires":[[]]},{"id":"31e04534.b3ac3a","type":"ui_group","z":"","name":"Datasets","tab":"c7cbbf4a.19a4d8","order":1,"disp":true,"width":"16"},{"id":"143b9a94.5706c5","type":"ui_group","z":"","name":"Task Models","tab":"c7cbbf4a.19a4d8","order":2,"disp":true,"width":"16"},{"id":"7df16d22.4638ec","type":"ui_group","z":"","name":"Explanation Techniques","tab":"c7cbbf4a.19a4d8","order":3,"disp":true,"width":"16"},{"id":"1f47e0ec.e07ff7","type":"ui_group","z":"","name":"Run Example","tab":"c7cbbf4a.19a4d8","order":4,"disp":true,"width":"16"},{"id":"a1aecd1.c37473","type":"ui_group","z":"","name":"Input","tab":"c7cbbf4a.19a4d8","order":5,"disp":true,"width":"16"},{"id":"e164d107.831d68","type":"ui_group","z":"","name":"Task Output","tab":"c7cbbf4a.19a4d8","order":6,"disp":true,"width":"16"},{"id":"2d914de6.dca9ba","type":"ui_group","z":"","name":"Explanation Output","tab":"c7cbbf4a.19a4d8","order":7,"disp":true,"width":"16"},{"id":"c7cbbf4a.19a4d8","type":"ui_tab","z":"","name":"Interpretability Technique Dashboard","icon":"dashboard","order":1}]
