flask_services/node_flow.txt
[{"id":"b665d918.543be","type":"ui_dropdown","z":"754ae687.5f12c8","name":"datasets_dropdown","label":"Available Datasets","place":"Select Dataset","group":"253748cc.afc948","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1010.0222320556641,"y":252.3444366455078,"wires":[["aff30be.aa21978","bbecce75.2a3a3"]]},{"id":"8b0de6ef.7b355","type":"http request","z":"754ae687.5f12c8","name":"get_datasets","method":"GET","ret":"obj","url":"http://localhost:6001/datasets/get_available","tls":"","x":450.0221710205078,"y":253.92776489257812,"wires":[["f57a5d2e.a3f938","f8fc2540.891d8"]]},{"id":"f57a5d2e.a3f938","type":"debug","z":"754ae687.5f12c8","name":"datasets_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":463.80006408691406,"y":298.59999084472656,"wires":[]},{"id":"6ca841b4.da1d98","type":"inject","z":"754ae687.5f12c8","name":"update_available_datasets","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":163.02224731445312,"y":254.82774353027344,"wires":[["8b0de6ef.7b355","78c1b018.2d382"]]},{"id":"f8fc2540.891d8","type":"function","z":"754ae687.5f12c8","name":"get_available_dataset_names","func":"//msg[\"available_datasets\"] = [{\"dataset 1\":\"dataset 1\"},{\"dataset 2\":\"dataset 2\"}];\n\nvar available_list = [{\"Select Dataset\":\"\"}];\n\nfor(var dataset_i = 0; dataset_i < msg.payload.datasets.length; ++dataset_i ){\n    var dataset = msg.payload.datasets[dataset_i];\n    var dataset_name = dataset[\"dataset_name\"];\n    // var folder = dataset[\"folder\"];\n\n    var dataset_value_dict = {};\n    dataset_value_dict[dataset_name] = dataset_name;\n    \n    available_list.push(dataset_value_dict);\n}\n\nmsg[\"available_dataset_names\"] = available_list;\nmsg[\"options\"] = msg[\"available_dataset_names\"];\n\nvar context = this.context.global;\ncontext.set('datasets',msg.payload.datasets);\ncontext.set('available_dataset_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":743.0222320556641,"y":252.99440002441406,"wires":[["b665d918.543be","3a98f81d.8344d"]]},{"id":"aff30be.aa21978","type":"debug","z":"754ae687.5f12c8","name":"dataset_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":987.0555572509766,"y":313.11109924316406,"wires":[]},{"id":"55eb8634.7680e8","type":"ui_dropdown","z":"754ae687.5f12c8","name":"models_dropdown","label":"Available Models","place":"Select Model","group":"1d4a4772.ba60c9","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":982.5555877685547,"y":568.1110992431641,"wires":[["c906b3d1.cdb8b","c5cd3071.1d7128"]]},{"id":"a1850d09.1cb448","type":"http request","z":"754ae687.5f12c8","name":"get_models","method":"GET","ret":"obj","url":"http://localhost:6101/models/get_available_for_dataset/{{{selected_dataset}}}","tls":"","x":442.55552673339844,"y":569.6944274902344,"wires":[["735ddf53.bdfb98","e8498259.8f4408"]]},{"id":"735ddf53.bdfb98","type":"debug","z":"754ae687.5f12c8","name":"models_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":418.55555725097656,"y":622.1444396972656,"wires":[]},{"id":"e8498259.8f4408","type":"function","z":"754ae687.5f12c8","name":"get_available_model_names","func":"var available_list = [];\n\nfor(var i = 0; i < msg.payload.models.length; ++i ){\n    var model = msg.payload.models[i];\n    var model_name = model[\"model_name\"];\n    // var script_name = model[\"script_name\"];\n    // var class_name = model[\"class_name\"];\n    \n    var model_value_dict = {};\n    model_value_dict[model_name] = model_name;\n    \n    available_list.push(model_value_dict);\n}\n\n\nmsg[\"available_models\"] = available_list;\nmsg[\"options\"] = msg[\"available_models\"];\n\nvar context = this.context.global;\ncontext.set('models',msg.payload.models);\ncontext.set('available_model_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":715.5555877685547,"y":568.7610626220703,"wires":[["55eb8634.7680e8"]]},{"id":"c906b3d1.cdb8b","type":"debug","z":"754ae687.5f12c8","name":"model_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":959.5889129638672,"y":628.8777618408203,"wires":[]},{"id":"bbecce75.2a3a3","type":"function","z":"754ae687.5f12c8","name":"set_dataset_selected_property","func":"msg[\"selected_dataset\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_dataset',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":361.63893127441406,"y":434.5277557373047,"wires":[["a1850d09.1cb448","1184f396.adf654"]]},{"id":"3a98f81d.8344d","type":"debug","z":"754ae687.5f12c8","name":"available_datasets","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":729.4444732666016,"y":296.9444122314453,"wires":[]},{"id":"6c337da4.0e1e4c","type":"ui_dropdown","z":"754ae687.5f12c8","name":"explanations_dropdown","label":"Available Explanations","place":"Select Explanations","group":"8d4f0d04.26fd88","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1053.6944732666016,"y":901.1110992431641,"wires":[["587f4b2d.caf494","469a0b65.e955ac"]]},{"id":"9a8a3cd6.82678","type":"http request","z":"754ae687.5f12c8","name":"get_explanations","method":"GET","ret":"obj","url":"http://localhost:6201/explanations/get_available_for_filters/{{{selected_dataset}}},{{{selected_model}}}","tls":"","x":445.91661071777344,"y":903.8055114746094,"wires":[["db094d5b.b1024","87833bfc.a72e"]]},{"id":"db094d5b.b1024","type":"debug","z":"754ae687.5f12c8","name":"explanations_json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":421.91664123535156,"y":956.2555236816406,"wires":[]},{"id":"87833bfc.a72e","type":"function","z":"754ae687.5f12c8","name":"get_available_explanation_names","func":"var available_list = [];\n\nfor(var i = 0; i < msg.payload.explanations.length; ++i ){\n    var explanation = msg.payload.explanations[i];\n    var explanation_name = explanation[\"explanation_name\"];\n     \n    var value_dict = {};\n    value_dict[explanation_name] = explanation_name;\n    \n    available_list.push(value_dict);\n}\n\n\nmsg[\"available_explanations\"] = available_list;\nmsg[\"options\"] = msg[\"available_explanations\"];\n\n\nvar context = this.context.global;\ncontext.set('explanations',msg.payload.explanations);\ncontext.set('available_explanation_names',available_list);\n\nreturn msg;","outputs":1,"noerr":0,"x":718.9166717529297,"y":902.8721466064453,"wires":[["6c337da4.0e1e4c"]]},{"id":"587f4b2d.caf494","type":"debug","z":"754ae687.5f12c8","name":"explanation_selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030.727798461914,"y":961.8777618408203,"wires":[]},{"id":"c5cd3071.1d7128","type":"function","z":"754ae687.5f12c8","name":"set_model_selected_property","func":"msg[\"selected_model\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_model',msg.payload);\n\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\n\nreturn msg;","outputs":1,"noerr":0,"x":345.00001525878906,"y":768.6388397216797,"wires":[["9a8a3cd6.82678","afa1eaa2.738bd8"]]},{"id":"afa1eaa2.738bd8","type":"debug","z":"754ae687.5f12c8","name":"msg_before_explanations","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":398.3333350287544,"y":824.7222103542751,"wires":[]},{"id":"469a0b65.e955ac","type":"function","z":"754ae687.5f12c8","name":"set_explanation_selected_property","func":"msg[\"selected_explanation\"] = msg.payload;\n\nvar context = this.context.global;\ncontext.set('selected_explanation',msg.payload);\n\nmsg[\"selected_dataset\"] = context.get('selected_dataset');\nmsg[\"selected_model\"] = context.get('selected_model');\n\n\nreturn msg;","outputs":1,"noerr":0,"x":356.6667022705078,"y":1102.222183227539,"wires":[[]]},{"id":"aacb4155.cd7fe8","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_name_display","label":"Dataset Name:","format":"{{msg.dataset_json[\"dataset_name\"]}}","layout":"row-spread","x":1653.5716552734375,"y":412.857177734375,"wires":[]},{"id":"1184f396.adf654","type":"function","z":"754ae687.5f12c8","name":"output_dataset_json","func":"var context = this.context.global;\nvar dataset_name = context.get('selected_dataset');\n\nvar datasets = context.get('datasets');\n\nvar dataset_json = datasets.filter(dataset => dataset[\"dataset_name\"] == dataset_name)[0];\nmsg[\"dataset_json\"] = dataset_json;\ncontext.set('selected_dataset_json',dataset_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":1076.4285888671875,"y":424.2857666015625,"wires":[["aacb4155.cd7fe8","e8c69b0c.c5ca98","4e0e0ec5.cc59a8","b4ff4812.c32908","9a437899.46c6d8"]]},{"id":"e8c69b0c.c5ca98","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_image_x_display","label":"Image X:","format":"{{msg.dataset_json[\"image_x\"]}}","layout":"row-spread","x":1662.857177734375,"y":472.8571472167969,"wires":[]},{"id":"4e0e0ec5.cc59a8","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_image_y_display","label":"Image Y:","format":"{{msg.dataset_json[\"image_y\"]}}","layout":"row-spread","x":1660.0001220703125,"y":520.0000610351562,"wires":[]},{"id":"78c1b018.2d382","type":"function","z":"754ae687.5f12c8","name":"reset_value","func":"msg[\"payload\"] = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1493.5714111328125,"y":164.28570556640625,"wires":[["aacb4155.cd7fe8","e8c69b0c.c5ca98","4e0e0ec5.cc59a8","b4ff4812.c32908","9a437899.46c6d8"]]},{"id":"b4ff4812.c32908","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_image_channels_display","label":"Image Channels:","format":"{{msg.dataset_json[\"image_channels\"]}}","layout":"row-spread","x":1698.571533203125,"y":575.7142944335938,"wires":[]},{"id":"9a437899.46c6d8","type":"ui_text","z":"754ae687.5f12c8","group":"253748cc.afc948","order":0,"width":"16","height":"1","name":"dataset_description_display","label":"Task Description:","format":"{{msg.dataset_json[\"description\"]}}","layout":"row-spread","x":1684.285888671875,"y":637.1428833007812,"wires":[]},{"id":"253748cc.afc948","type":"ui_group","z":"","name":"Datasets","tab":"16dd4e54.ecc04a","order":1,"disp":true,"width":"16","collapse":false},{"id":"1d4a4772.ba60c9","type":"ui_group","z":"","name":"Task Models","tab":"16dd4e54.ecc04a","order":2,"disp":true,"width":"16","collapse":false},{"id":"8d4f0d04.26fd88","type":"ui_group","z":"","name":"Explanation Techniques","tab":"16dd4e54.ecc04a","order":3,"disp":true,"width":"16","collapse":false},{"id":"16dd4e54.ecc04a","type":"ui_tab","z":"","name":"Interpretability Technique Dashboard","icon":"dashboard","order":1}]